<package-def>
	<class name="КомандаОбъектыКластера" file="src/Классы/КомандаОбъектыКластера.os"/>
	<class name="КомандаОписаниеОбъектаКластера" file="src/Классы/КомандаОписаниеОбъектаКластера.os"/>
	<class name="КомандаСписокОбъектовКластера" file="src/Классы/КомандаСписокОбъектовКластера.os"/>
	<class name="КомандаСчетчикиОбъектаКластера" file="src/Классы/КомандаСчетчикиОбъектаКластера.os"/>
	<class name="ПодключениеКАгентам" file="src/Классы/ПодключениеКАгентам.os"/>
	<module name="ЗамерыВремени" file="src/Модули/ЗамерыВремени.os"/>
	<module name="Настройки" file="src/Модули/Настройки.os"/>
	<module name="ОбщегоНазначения" file="src/Модули/ОбщегоНазначения.os"/>
	<module name="ПараметрыПриложения" file="src/Модули/ПараметрыПриложения.os"/>
	<module name="ПодключенияКАгентам" file="src/Модули/ПодключенияКАгентам.os"/>
	<module name="ПолучениеСчетчиков" file="src/Модули/ПолучениеСчетчиков.os"/>
</package-def>