<package-def>
	<class name="КомандаОбъектыКластера" file="Классы/КомандаОбъектыКластера.os"/>
	<class name="КомандаОписаниеОбъектаКластера" file="Классы/КомандаОписаниеОбъектаКластера.os"/>
	<class name="КомандаСписокОбъектовКластера" file="Классы/КомандаСписокОбъектовКластера.os"/>
	<class name="КомандаСчетчикиОбъектовКластера" file="Классы/КомандаСчетчикиОбъектовКластера.os"/>
	<class name="КомандаДампСостоянияКластера" file="Классы/КомандаДампСостоянияКластера.os"/>
	<class name="ПодключениеКАгентам" file="Классы/ПодключениеКАгентам.os"/>
	<module name="ЗамерыВремени" file="Модули/ЗамерыВремени.os"/>
	<module name="Настройки" file="Модули/Настройки.os"/>
	<module name="ОбщегоНазначения" file="Модули/ОбщегоНазначения.os"/>
	<module name="ПараметрыПриложения" file="Модули/ПараметрыПриложения.os"/>
	<module name="ПодключенияКАгентам" file="Модули/ПодключенияКАгентам.os"/>
	<module name="ПолучениеСчетчиков" file="Модули/ПолучениеСчетчиков.os"/>
</package-def>